# This will be the notebook for data cleaning

In [1]:
import numpy as np 
import pandas as pd
import logging
import logging.handlers
import os
from datetime import datetime
from data_cleaner_and_processor import DataProcessor, ExtractVariables  # type: ignore
import re

In [2]:
pd.set_option('display.max_colwidth', None)

In [3]:
dataset_url = "/media/allano/53CE082D539E52ED/_DS_ML_DL/plots_and_land_for_sale_Kenya/datasets/land_and_plots_for_sale.csv"
import data_ingestion

In [4]:
data = data_ingestion.read_dataset(dataset_url)

2025-08-10 09:05:38 - data_ingestion - INFO - data_injestion.py:71 - Success! File loaded into a pandas dataframe

In [5]:

processor = DataProcessor()
extractor = ExtractVariables()
data = processor.process(data)
data = extractor.extract(data)

2025-08-10 09:05:39 - data_cleaner_and_processor - INFO - cleaner_and_processor.py : 87-Success. Size fields extracted and filled
2025-08-10 09:05:39 - data_cleaner_and_processor - INFO - cleaner_and_processor.py : 295-Successfully preprocessed 'size' column for enhanced fraction parsing
2025-08-10 09:05:40 - data_cleaner_and_processor - INFO - cleaner_and_processor.py : 244-Successfully created 'acreage' column with converted values
2025-08-10 09:05:40 - data_cleaner_and_processor - INFO - cleaner_and_processor.py : 267-Cleaning Success !! price_view_col dropped, price column cleaned
2025-08-10 09:05:40 - data_cleaner_and_processor - INFO - cleaner_and_processor.py : 311-Successfully processed DataFrame through all steps
2025-08-10 09:05:42 - data_cleaner_and_processor - INFO - cleaner_and_processor.py : 408-Successfully extracted county information
2025-08-10 09:05:42 - data_cleaner_and_processor - INFO - cleaner_and_processor.py : 427-Successfully processed DataFrame in ExtractVariables

In [6]:
pd.set_option('display.float_format', '{:,.2f}'.format)

In [7]:
data['county'].isnull().sum()

0

In [8]:
data['county_population_density(2019)'].isnull().sum()

0

In [10]:
data[['county', 'county_population_density(2019)']].head(60)

             county  county_population_density(2019)
0          Machakos                              236
1          Machakos                              236
2          Machakos                              236
3          Machakos                              236
4           Kajiado                               51
6           Kajiado                               51
7           Kajiado                               51
8            Kiambu                              952
9            Kiambu                              952
11  Elgeyo Marakwet                              150
12           Nakuru                              288
13          Kajiado                               51
14           Kiambu                              952
15           Kiambu                              952
16         Machakos                              236
17         Machakos                              236
18         Machakos                              236
20          Nairobi                             6247
21           Kisumu                              554
22           Nakuru                              288
24           Kiambu                              952
25          Nairobi                             6247
26           Kiambu                              952
27           Kiambu                              952
28          Mombasa                             5495
29          Nairobi                             6247
30           Kiambu                              952
31          Nairobi                             6247
32           Kiambu                              952
33             Lamu                               23
34           Kiambu                              952
36           Kiambu                              952
37           Kiambu                              952
38           Kiambu                              952
40           Kilifi                              116
41           Kiambu                              952
42          Nairobi                             6247
43           Kiambu                              952
44           Kiambu                              952
45         Laikipia                               55
46         Machakos                              236
47          Nairobi                             6247
48            Kitui                               37
49          Nairobi                             6247
50          Mombasa                             5495
51          Nairobi                             6247
52           Kiambu                              952
53           Kiambu                              952
54          Nairobi                             6247
55           Kiambu                              952
56           Kiambu                              952
57           Kiambu                              952
59          Nairobi                             6247
60           Kiambu                              952
61           Kilifi                              116
62         Machakos                              236
63           Kiambu                              952
64           Kiambu                              952
65         Machakos                              236
66         Machakos                              236